h1 {
	padding-top: 60px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family:sans-serif;
}

/* .menuAdm {
	background-color: transparent;
    background: transparent;
    border-color: transparent;
	background-attachment:fixed;
	font-weight: bold;
	color:black;
} */