.card
{
    margin: 5px;
    border-radius: 5px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
    /* height: 100%; */
    transition:  box-shadow .5s ease-out;
   
}

.card:hover{ 
  box-shadow: 20px 20px 50px black;
 transition:  box-shadow .4s ease-in;
}

img {
  height: 180px;
}

